@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
.list-item {
  list-style-type: none;
}
.navbar {
  display: flex;
  height: 10vh;
  align-items: center;
  flex-direction: row;
  color: white;
  padding: 0px 20px;
  background-color: #0c111f;
  position: fixed;
  width: 100vw;
  z-index: 2;
  top: 0;
  /*box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/
}

@media screen and (max-width: 576px) {
  .navbar {
    height: 7vh;
  }
}

.nav-links {
  display: flex;
  margin-left: auto;
  align-items: center;
  flex-direction: row;
}

.nav-links li {
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  /*  text-transform: capitalize; */
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 15px;
  margin-top: 14px;
  font-weight: 500;
}
.nav-links li:hover {
  color: #6b7eb1;
}

.hero h1 {
  text-align: center;
  font-size: 80px;
}
.mobile-menu-icon {
  display: none;
  color: white;
}
button {
  border: none;
  text-decoration: none;
  font-size: 16px;
  background: none;
}
@media (max-width: 576px) {
  .nav-links {
    display: none;
  }

  ul li {
    width: 100%;
    transition: all 0.5s ease-in-out;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 0px 7px 15px;
    margin: 0px;
  }
  ul li:hover {
    color: #6b7eb1;
  }
  .mobile-menu-icon {
    position: absolute;
    display: block;
    right: 20px;
  }
  .hero h1 {
    font-size: 50px;
  }
}

.contact-button {
  background-color: rgba(37, 73, 137, 1);
  color: white;
  padding: 5px 15px 5px 15px;
  border: 0.5px solid white;
  border-radius: 30px;
  font-size: 15px;
}

.contact-button {
  background-image: linear-gradient(to right, #ffffff, #fff741);
  color: #234581;
  padding: 10px 20px;
  border: 0px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}
@media screen and (max-width: 576px) {
  .contact-button {
    font-size: 12px;
    padding: 5px 8px;
  }
}

.list {
  margin-left: auto;
}
@media screen and (max-width: 576px) {
  .nav-links {
    display: none;
  }
}

.menu-icon {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}

.mobile-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 6vh;
  background-color: #263238;
  text-align: left;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 43%;
}

@media screen and (min-width: 768px) {
  .mobile-list {
    display: none;
  }
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.downcon {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 25px;
  padding: 5px 10px;
  width: auto;
}

.hrl {
  width: 100%;
  border: 1px solid rgb(255, 255, 255, 0.5);
}

.sub-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;

  right: 0;
  background-color: #263238;
  margin: 0px;
  padding: 0px;
  text-align: left;
  width: 100%;
  position: absolute;
  top: calc(100% - 10px);
  bottom: 90;
  /* Position the submenu below the parent item */
}

.submenu-item {
  display: block;
}

.inputholder {
  background-color: #010309;
  display: flex;
  flex-direction: row;
}

.input {
  background: transparent;
  width: 86%;
  outline: none;
  border: none;
  font-size: 15px;
  padding: 5px 0px 5px 15px;
  ::placeholder {
    color: rgb(255, 255, 255, 0.5);
  }
}

.button {
  background-color: transparent;
  color: #ffffff;
  border-left: 1px solid rgb(255, 255, 255, 0.25);
  font-weight: normal;
}
